* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #ffdf6f;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
}



#ship-logo {
    display: flex;
    position: absolute;
    width: 7%;
    height: auto;
    margin: auto;
    animation: crash-landing 10s ease-in-out infinite alternate;
    filter: drop-shadow(-33px 30px 10px #00000030);
    margin-left: 33%;

}

.main-logo {
    display: flex;
    width: 40%;
    margin: auto;
    height: auto;
    filter: drop-shadow(-33px 30px 10px #00000030);

}


@keyframes crash-landing {
    0% {
        transform: translate(0%, 0%);
    }

    25% {
        transform: translate(5%, 5%);
    }

    50% {
        transform: translate(10%, 5%);
    }

    75% {
        transform: translate(0%, 15%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}


footer {

    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    margin-top: auto;
    padding: 25px;
}



.fab {
    color: #000;
    font-size: 1.75rem;
    cursor: pointer;
    padding: 0 15px;
    transition: 0.3s;
}

.fa-twitter:hover {
    color: #1DA1F2;
    transform: scale(1.25);
    transition: 0.3s;
}


.fa-discord:hover {
    color: #7289DA;
    transform: scale(1.25);
    transition: 0.3s;
}